<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>All accounts</title>
</head>
<body>
    <div class="container my-2" align="center">
        <table style="width: 80%" border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Registry date</th>
                    <th>Superuser</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account:${accounts}">
                    <td th:text="${account.id}"/>
                    <td th:text="${account.username}"/>
                    <td th:text="${account.email}"/>
                    <td th:text="${account.birthday}"/>
                    <td th:text="${account.registryDate}"/>
                    <td th:text="${account.isSuperuser}"/>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>