<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Profile</title>
</head>
<body>
    <main>
        <h1>User profile</h1>
        <section>
            <h2>Actions</h2>
            <p th:text="'Welcome back, ' + ${account.username}"/>
            <p><a th:href="@{/auth/logout}">Logout</a></p>
            <p><a th:href="@{'/api/account/export/json/' + ${account.username}}">Export user data to JSON</a></p>
        </section>
    </main>
</body>
</html>